# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Espresso
*.esproj
*.espressostorage

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
